body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--cor-9);
}

body {
  background: var(--cor-p0);
  color: var(--cor-9);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.logo {
  grid-column: 2;
  text-align: center;
}

.menu {
  grid-column: 2 / -1;
  background: var(--cor-p3);
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}

.menu li a {
  display: block;
  background:var(--cor-p1);
  border-radius: 5px;
  padding: 6px 20px 6px 20px;
  margin: 30px 30px;
}

.menu a:hover {
  background: #E8CC9E;
}

.grid-frase {
  grid-column: 2 / 3;
  border: 4px dashed var(--cor-p2);
  margin-top: 60px;
  margin-bottom: 120px;
}

.grid-frase p {
  text-align: center;
}

.grid-frase p:nth-child(2) {
  margin-bottom: 60px;
}

.grid-section {
  grid-column: 2 / 3;
}

.grid-section ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  width: 100%;
  box-sizing: border-box;
}

.cactos-lista {
  height: 360px;
  overflow-y: scroll;
}

.cactos-lista li {
  cursor: pointer;
}

.cactos-lista::-webkit-scrollbar {
  width: 18px;
}

.cactos-lista::-webkit-scrollbar-thumb {
  background: var(--cor-p3);
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.cactos-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}


.cacto-descricao {
  background: var(--cor-p1);
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
}

.cactos h2 {
  margin-bottom: 24px;
}

.cactos h2::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 40px;
  background: #669D44;
  margin-right: 12px;
  margin-bottom: 2px;
}

.cactos p {
  margin-bottom: 30px;
}

.duvidas h1 {
  margin-top: 120px;
}

.duvidas p {
  margin-bottom: 30px;
}

.duvidas-lista dt {
  margin-bottom: 12px;
  cursor: pointer;
}

.duvidas-lista dt::before{
  content: "";
  display: inline-block;
  height: 10px;
  width: 40px;
  background: #669D44;
  margin-right: 12px;
  margin-bottom: 2px;
}

.duvidas-lista dd {
  margin-bottom: 30px;
}

.numeros {
  margin-top: 120px;
  margin-bottom: 120px;
}

.contagem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px;
  background:#ffebc9 ;
}

.contagem h1 {
  margin-bottom: 10px;
}

.contagem h2 {
  margin-bottom: 20px;
  text-align: center;
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background-color: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgb(0,0, 0, .5);
  background: linear-gradient(120deg, #669D44, #E8CC9E);
}

.relogio div {
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.7);
  border-radius: 5px;
  letter-spacing: 3px;
}

.relogio span {
  font-weight: bold;
  font-size: 40px;
}

.relogio span.tempo {
  font-size: 20px;
}



.contato h1 {
  margin-top: 120px;
  margin-bottom: 30px;
}

.contato-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.mapa {
  grid-column: 1;
  margin-bottom: 60px;
}

.dados {
  grid-column: 2;
  display: block;
  gap: 20px;
}

.dados li::before{
  content: "";
  display: inline-block;
  height: 10px;
  width: 20px;
  background: #669D44;
  margin-right: 12px;
  margin-bottom: 2px;
}

.copy {
  background: var(--cor-p3);
  grid-column: 2/-1;
  padding: 30px 60px 30px 60px;
}


@media(max-width: 800px) {
  .grid-container {
    display: grid;
    grid-column: 1;
  }
  .grid-frase {
    margin-bottom: 60px;
  }
  .grid-frase p {
    font-size: 2rem;
  }
  .grid-frase span {
    font-size: 2rem;
  }
  .grid-frase p:nth-child(2) {
    margin-bottom: 60px;
  }
  .cacto-verde{
    display: none;
  }
  .duvidas h1 {
    margin-top: 60px;
  }
  .numeros {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .contato h1 {
    margin-top: 60px;
  }
  .contato-grid {
    display: block;
  }

  .font-1 {
    font: 300 1rem/1.2 "Kanit", sans-serif;
  }
  
  .font-2 {
    font: 400 1rem/1.2 "Kanit", sans-serif;
  }
  
  .font-3 {
    font: 300 1.2rem/1.5 "Kanit", sans-serif;
  }
  
  .font-4 {
    font: 600 1.2rem/1.5 "Red Hat Mono", monospace;
  }
  
  .font-5 {
    font: 500 1.2rem/1.5 "Kanit", sans-serif;
  }
  
  .font-6 {
    font: 400 1.2rem/2 "Kanit", sans-serif;
  }
  
  .font-7 {
    font: 400 1.5rem/1.5 "Caveat", cursive;
    line-height: 5px;
  }
  
  .font-8 {
    font: 700 1.5rem/1.5 "Caveat", cursive;
  }
  
  .font-9 {
    font: 400 2rem/2.5 "Caveat", cursive;
  }
  
  .font-10 {
    font: 700 2rem/2.5 "Caveat", cursive;
  }
  
  .font-11 {
    font: 400 2.5rem/3 "Kanit", sans-serif;
    line-height: 60px;
  }
}

/* @media(max-width: 500px) */


.js [data-tab="content"] section {
  display: none;
}

.js [data-tab="content"] section.ativo {
  display: block !important;
}

[data-tab="content"] section.ativo.show-right {
  animation: show-right .5s forwards;
}

[data-tab="content"] section.ativo.show-down {
  animation: show-down .5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity:1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity:1;
    transform: translate3d(0, 0, 0);
  }
}

.js [data-anime="accordion"] dd {
  display:none;
}

[data-anime="accordion"] dt::after {
  content: "⬎";
  margin-left: 10px;
}

[data-anime="accordion"] dt.ativo::after {
  content: "⬏";
}

[data-anime="accordion"] dd.ativo {
  display: block;
  animation: slideDown .5s forwards;
}

@keyframes slideDown {
  from {
    opacity:0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

.js [data-anime="scroll"] {
  opacity:0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.js [data-anime="scroll"].ativo {
  opacity:1;
  transform: translate3d(0, 0, 0);
}

[data-semana]::after{
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background: red;
   border-radius: 50%;
  margin-left: 12px;
  border: 2px solid #000;
}

[data-semana].aberto::after{
  background: greenyellow;
}
.btc-preco {
  background: greenyellow;
  padding: .2rem .5rem;
  border-radius: 2px;
}



